.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* custom style */
.searchbar{
  background-color: slategray;
  padding: 30px;
}
.movielist_temp{
  margin-top: 30px;
}
.movie_view_btn {
  color: #fff;
  text-decoration: none;
}
.movie_view_btn:hover{
  text-decoration: none;
}
.list_movies{
  text-align: center;
}
.movielist_error{
  text-align: center;
}